
:root {
    --col-height: 106px;
}

.border {
    /* border: 1px black solid; */
}
.grayColor {
  color:green;
}
.rowHeight {
    height: 104px;
}
.itemHeight {
  height: 104px;
}
.cardBody {
   
  width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    background-color:  rgba(253, 252, 252, 0.5);
  }
.rating {
    display: flex;
    justify-content: space-between;
}

.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.cardBgColor {
  background-color:  rgba(253, 252, 252, 0.5)
}

.headline {
  composes: titleFont from '../../type.module.css';
  font-size: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.myBadge {
  
}

.buttonFont{
    font-size: .5em;
}
.subHeadline {
    composes: titleFont from '../../type.module.css';

    font-size: .7em;
}

.margin4top {
    margin-top: 4px;
}


.col1 {
    composes: border;
  height: var(--col-height);
  width: var(--col-height);
  flex-basis: auto;
  background: url(../../images/wine-glass256.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.col2 {
    composes: border;
    width: 55%;
    display:flex;
    flex-direction: column;

  justify-content: space-evenly
}

.col3 {
    composes: border;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly
}



.unitSold {
  margin-left: 1rem;
}


