


@media only screen 
and (min-device-width: 1000px) { 
  .backgroundItems {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: block;
  }
  
  .wineBottle {
      composes: backgroundItems;
      background: url(../../images/ffHHvp0.jpg);
      z-index: -1;
  }

}